<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://upload.wikimedia.org/wikipedia/pt/e/ef/Khorus_-_A_Noticia.JPG"
            alt=""
            height="200px"
            srcset=""
        >
    </div>
    <a href=""></a>
    <div class="big-card__title">
        <h1><a href="https://angular.io" target="_blank">A volta dos que não foram</a></h1>
    </div>
    <div class="big-card__desctiption">
        <p>
            <a href="https://angular.io/docs" target="_blank">
            Todo mundo é doido e todo mundo sabe Todo mundo é doido e todo mundo 
            sabe Todo mundo é doido e todo mundo sabe
            </a>
        </p>
    </div>
</div>
