<div class="container__big-card">
    <div class="big-card__photo">
        
            <img 
            src="{{photoCover}}"
            alt="Foto do homem de ferro"
            height="200px"
            srcset=""
        >
    
    </div>
    <a href=""></a>
    <div class="big-card__title">
        <h1><a href="https://www.adorocinema.com/filmes/filme-53751/" target="_blank">{{ cardTitle }}</a></h1>
    </div>
    <div class="big-card__desctiption">
        <p>
            <a href="https://www.adorocinema.com/filmes/filme-53751/" target="_blank">
                {{ cardDescription }}
            </a>
        </p>
    </div>
</div>
