<div class="container__small-card">
    <div class="container_small-card-content">
        <div class="small-card__photo">
            <img 
                src="https://midias.correiobraziliense.com.br/_midias/jpg/2022/05/23/675x450/1_gotham_knights-25710626.jpg?20220523093448?20220523093448"
                alt=""
                srcset=""
            >
        </div>
        <a href=""></a>
        <div class="small-card__title">
            <h1><a href="https://angular.io" target="_blank">O banguelo que mordeu a perna do cotó</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>
</div>
